.text1{
    font-family: "Inter";
    font-size: 66px;
    font-weight: 500;
    line-height: 97.37px;
    margin-left: 80px;
    width:571px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
 
}
span{
    font-weight: 700;
    font-family: "Inter";
    font-size: 66px;
    line-height: 97.37px;
}

.text2{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    opacity: 30%;
    width:560px;
    height: 99px;
    margin-left: 90px;

}